/* flexbox grid */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%; 
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.col {
	flex: 1;
	margin: .6em;
	padding: .6em;
}

/* media query */

@media screen and (min-width: 650px) {
	.row {
		display: flex;
		flex-direction: row;
	}
}
/* flexbox grid */

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    color: #424242;
}

#nav-bar {
	background-color: #F4F5F6;
	color: #424242;
	height: 10vh;
}

#menu-entry, li {
	display: inline-block;
	float: right;
	margin: 10px;
	padding: 10px;
}

#main {
	height: 90vh;
}

#main-content {
	position: relative;
	top: 30%;
}

#main-contacts {
	display: inline !important;
}