/* flexbox grid */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

img, embed, object, video {
	max-width: 100%;
}

.container {
	min-width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.col {
	flex: 1;
	margin: .6em;
	padding: .6em;
}

.responsive-img {
	max-width: 100%;
}

/* media query */

@media screen and (min-width: 650px) {
 /* min-width can be changed to whatever you want. */
	.row {
								/* doesn't have to be exactly 650px */
		display: flex;
		flex-direction: row;
	}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
	content: " ";
 /* 1 */
	display: table;
 /* 2 */;
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

/* media query */

@media screen and (min-width: 650px) {
	.row {
		display: flex;
		flex-direction: row;
	};
}

/* custom css */

html {
  height: 100%;
}

body {
  height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #4A4A48;
}

#nav-bar {
	background-color: #4A4A48;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#logo {
  margin: 0;
  padding: 0;
}

.logo-text {
  color: #F4F4F4;
  padding: 10px;
  background-color: #B0D0D3;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px;
  padding: 31px;
  position: relative;
  left: 3%;
}

#nav {
  margin: 0;
  padding: 0;
}

#nav-entry {
  list-style: none;
  position: relative;
  top: 25%;
  right: 3%;
  text-align: right;
}

.nav-list {
  display: inline-block;
  padding: 10px;
}

.nav-menu {
  color: #F4F4F4;
  text-decoration: none;
}

.nav-list::after {
	content: '';
  	display: block;
  	width: 0;
  	height: 2px;
  	background: #B0D0D3;
  	transition: width .3s;
  	margin-top: 10px;
}

.nav-list:hover::after {
	width: 100%;
}

.section {
  min-height: 100%;
}

#main-page {
	display: block;
	background-color: #F4F4F4;
}

#header-entry {
	padding-top: 10%;
	text-align: center;
}

#role {
	font-size: 1.6em;
}

#skills-section {
	text-align: center;

}

.skills {
	display: inline-block;
	padding: 8px;
	white-space: nowrap;
}

#workExperience {
	background-color: #B0D0D3;
}

.employer {
	text-decoration: none;
	color: #F4F4F4;
	cursor: pointer;
}

.location-text {
	font-style: italic;
	text-align: right;
}

.workIcon {
	color: #F4F4F4;
	font-size: 10em;
	position: relative;
	top: 30%;
	left: 40%;
}

#project-entry-0 {
	background-image: url("/images/portfolio-project.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#project-entry-1 {
	background-image: url("/images/mockup-to-article.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#project-entry-2 {
	background-image: url("/images/bitshop.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#education {
	background-color: #F6BD60;
}

#education-entry {
	padding-top: 2%;
}

#eduIcon {
	position: relative;
	top: 5%;
}

#eduIcon, #onlineIcon {
	color: #F4F4F4;
	font-size: 6em;
}

#onlineCourse-entry {
	padding-top: 25%;
}

#onlineIcon {
	position: relative;
	top: 50%;
}

#footer {
  height: 10%;
  white-space: nowrap;
}

/* media queries */

@media screen and (max-width: 800px) {
	#work-entry {
	}
	.workIcon {
	}
}