/*
CSS Style guide

// layout
.container

grid:
.columns
    .column

    use flexbox!

columns can be centered with
    .centered
//////////////////

// typography
make a paragraph stand out by adding:
    .lead

//////////////

// buttons

use standard:
    .btn
always specify the type for the button

when using the <a> always add
role="button" for accesibility

button sizes
    default:
    .btn

    smaller:
    .btn-sm

Colors:
    Primary is green:
    .btn-primary

    Danger is red:
    .btn-danger

    Outline are blue:
    .btn-outline

    Disabled state:
    .disabled

*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #254441;
    border: 1px solid orange;
}

.hr {
    border-style: none;
    border: 1px solid;
    width: 100%;
}

html, body, .container {
    height: 100%;
}

img {
    max-width: 100%;
}

.container {
    width: 980px;
    margin: auto;
    z-index: -1;
}

.columns {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.column {
	flex: 1;
	margin: .6em;
	padding: .6em;
}
.content {
    float: right;
    overflow: hidden;
}

.side-nav {
}

#intro-head {
    max-height: 30%;
    max-height: 15%;
    margin: 0;
    padding: 0;
}

#intro-entry {

}

#name {
    font-size: 1.6em;
    font-weight: bold;
}

#role {
    font-size: 1.3em;
}

.nav-menu {
    max-height: 25%;
}

#menu-entry {
    margin: 0;
    padding: 0;
}

.nav-li {
    list-style: none;
    padding: 10px;
    font-size: 1.1em;
}



#social-entry {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-li {
    display: inline-block;
    font-size: 1.6em;
    padding: 20px;
}

